<!-- navbar start -->

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="logo.jpeg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="#como-funciona">Como Funciona</a>
      <a class="nav-link" href="#">Equipo de trabajo</a>
      <a class="nav-link" href="#">Contatenos</a>
      <a class="nav-link" href="#">Redes Sociales</a>
    </div>
  </div>
</nav>

<!-- navbar end -->

<!-- entrar a proyecto start -->

<section class="container-1">

    <div class="content">
        <h1>Tu tienda online conectada a <span>WhatsApp</span></h1>
        <p>Integra a tu negocio las herramientas más poderosas de internet, empieza en minutos. Crea, diseña y administra tú mismo.</p>
        <button type="button" class="btn btn-outline-success">Empieza ahora</button>
    </div>
    
</section>

<!-- entrar a proyecto start -->

<!-- como funciona start -->

<section class="como-funciona" id="como-funciona">

    <h1 class="titulo"> ¿Como Funciona? </h1>

    <div class="box-container">

        <div class="card" style="width: 18rem;">
            <span data-v-55a089ee="" class="item-circle-id-sm">1</span>
            <div class="card-body">
              <h5 class="card-title">Crea tu tienda online</h5>
              <p class="card-text">Comienza ahora mismo y dale vida a tu marca en el mundo online. Explora todas las herramientas que necesitas para impulsar y hacer crecer tu negocio..</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <span data-v-55a089ee="" class="item-circle-id-sm">2</span>
            <div class="card-body">
              <h5 class="card-title">Sube tu inventario, logo e información</h5>
              <p class="card-text">Tienes un panel de control para subir tus productos, personalizar diseño, gestionar tus ventas y todo lo que puedas imaginar para hacer crecer tu negocio..</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <span data-v-55a089ee="" class="item-circle-id-sm">3</span>
            <div class="card-body">
              <h5 class="card-title">Comparte y empieza a vender</h5>
              <p class="card-text">Publica tu tienda Online, comparte tu catalogo de WhatsApp y anuncia tus productos en Instagram para así comenzar a construir tu presencia profesional en línea..</p>
            </div>
        </div>
    
    </div>


</section>

<!-- como funciona end -->
    

    
